<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-4 my-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= project.name %></h2>
          <p class="card-text"><%= project.description %></p>
          <p><a class="btn btn-secondary" <%= link_to 'Show', project %> role="button">View details »</a></p>
        </div>        
      </div>
    </div>
  <% end %>
</div>
  
<br>

<%= link_to 'New Project', new_project_path %>
