<div class="row">

  <div class="col-md-9">
    <p><h1> <%= @project.name %></h1></p>
    <p>Project contents, implement file upload and utilities such as in GitHub to show language content , filesize, etc.</p>
    
  </div>

  <div class="col-md-3">
    <h4> Project Description </h4>
    <p><%= @project.description %></p>

    <br>

    <% if user_signed_in? %>
      <a class="btn btn-secondary" <%= link_to 'Edit', edit_project_path(@project) %> </a>
      <a class="btn btn-secondary" <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> </a>
    <% end %>
    <a class="btn btn-secondary" <%= link_to 'Back', projects_path %> </a>

  </div>
</div>






