<p id="notice"><%= notice %></p>

<p>
  <h1 <%= @project.name %></h1>
</p>

<p>
  <%= @project.description %>
</p>

<% if user_signed_in? %>
  <a class="btn btn-secondary" <%= link_to 'Edit', edit_project_path(@project) %> </a>
<% end %>

<a class="btn btn-secondary" <%= link_to 'Back', projects_path %> </a>

