<!DOCTYPE html>
<html>
  <head>
    <title>Student Project Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navigation">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="users/sign_in">Sign In/Sign Up</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Sign Out</a>
              </li>
          </ul>
      </div>
    </nav>

    
    <main role="main">

      <!-- Main jumbotron to explain purpose of site -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Student Project Portfolio</h1>
          <p>Spencer Ivan project portfolio. 3rd Year Computer Science major at UCCS.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>

    </main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
